:root {
    /* fonts */
    --logo-font: "Krona One", sans-serif;
    --sans-serif: "Montserrat", sans-serif;
    --serif: "Playfair Display", serif;

    /* color scheme */
    --text-light: hsla(248, 16%, 96%, 1);
    --text-dark: hsla(248, 16%, 24%, 1);
    --bg: hsla(248, 16%, 96%, 1);
    --bg-light: hsla(248, 0%, 100%, 1);
    --bg-dark: hsla(248, 16%, 94%, 1);
    --shadow: hsla(248, 8%, 72%, 1);
    --border: hsla(248, 8%, 80%, 1);
    --primary: hsla(184, 96%, 32%, 1);
    --accent-light: hsla(320, 32%, 64%, 1);
    --accent-dark: hsla(248, 24%, 48%, 1);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background: var(--bg-light);
    color: var(--text-dark);
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--serif);
    margin: 0;
    padding: 0;
}

p {
    font-family: var(--sans-serif);
}

.card {
    background: var(--bg);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px 0 var(--shadow);
    margin-bottom: 1rem;
    padding: 1rem;
    transition: 0.2s;
}

.card:hover {
    box-shadow: 0 4px 6px 0 var(--shadow);
}

.card img {
    border: 1px solid var(--border);
    width: 100%;
    margin-bottom: 1rem;
}

.card h1 {
    color: var(--accent-light);
    font-size: 1.5rem;
}

.card p {
    font-size: 0.8rem;
}

.main-header {
    position: fixed;
    text-align: center;
    z-index: 11;
}

.main-header div {
    align-items: center;
    background: var(--bg);
    box-shadow: 0 0px 8px 0 var(--shadow);
    color: var(--primary);
    display: flex;
    font-family: var(--logo-font);
    font-size: 1.5rem;
    height: 3.5rem;
    justify-content: center;
    width: 100vw;
}

.main-header a {
    color: var(--primary);
    text-decoration: none;
}

.main-header a:visited {
    color: var(--primary);
}

footer {
    display: none;
}

@media screen and (min-width: 768px) {
    .main-header {
        width: 100vw;
    }
    .main-header div {
        justify-content: left;
        padding-left: 1rem;
        margin: 0 auto;
        max-width: 64rem;
    }

    .card {
        margin: 0 1rem 1rem 1rem;
        max-width: calc((64rem / 2) - 3rem);
        width: 45%;
    }

    footer {
        background: var(--accent-dark);
        border-top: 4px solid var(--accent-light);
        display: block;
        margin-top: auto;
        width: 100%;
    }

    footer div {
        display: flex;
        padding: 1rem;
    }

    footer div ul {
        color: var(--text-light);
        font-family: var(--sans-serif);
        font-size: 0.8rem;
        letter-spacing: 1px;
        list-style: none;
        line-height: 1.5rem;
        margin: 0;
        max-width: calc((64rem / 3));
        padding: 0;
        text-align: center;
        width: 100%;
    }

    footer div .third-col a {
        color: var(--text-light);
        font-weight: bold;
        text-decoration: none;
    }

    footer div .third-col a:hover {
        color: var(--accent-light);
    }
}
