.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4.5rem 1rem 1rem 1rem;
}

.content h1 {
    color: var(--accent-dark);
    display: block;
    margin-bottom: 1rem;
}

.card img {
    border: 1px solid var(--border);
    width: 100%;
    margin-bottom: 1rem;
}

.card h1 {
    color: var(--accent-light);
    font-size: 1.5rem;
}

.card p {
    font-size: .8rem;
}