.container {
    padding-top: 3.5rem;
}

.content {
    text-align: center;
    font-family: var(--sans-serif);
    padding: 1rem;
}

.content a {
    color: var(--accent-light);
    font-size: 1.2rem;
    font-weight: bold;
}

.content h1 {
    color: var(--accent-dark);
    font-family: var(--serif);
    font-size: 2rem;
    margin: 0;
}

.content p {
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24rem;
    overflow: hidden;
}

.hero img {
    min-width: 48rem;
    max-width: 64rem;
}

@media screen and (min-width: 768px) {
    .container {
        box-shadow: 0 0 8px 1px var(--shadow);
        height: 100vh;
        margin: 0 auto;
        max-width: 64rem;
    }
}
