.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
}

.menu-wrapper .menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    height: 1.5rem;
    width: 1.5rem;
    margin: 1rem;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.menu-wrapper .menu-toggle:checked + .menu-icon div {
    transform: rotate(45deg);
}

.menu-wrapper .menu-toggle:checked + .menu-icon div:before,
.menu-wrapper .menu-toggle:checked + .menu-icon div:after {
    top: 0;
    transform: rotate(-90deg);
}

.menu-wrapper .menu-toggle:checked ~ .menu-content {
    opacity: 1;
    visibility: visible;
}

.menu-wrapper .menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0;
    z-index: 1;
}

.menu-wrapper .menu-icon div {
    position: absolute;
    background: var(--primary);
    border-radius: 4rem;
    height: 3px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrapper .menu-icon div:before,
.menu-wrapper .menu-icon div:after {
    content: '';
    position: absolute;
    background: var(--primary);
    border-radius: 4rem;
    top: -8px;
    height: 3px;
    width: 100%;
}

.menu-wrapper .menu-icon div:after {
    top: 8px;
}

.menu-wrapper .menu-content {
    position: absolute;
    background: var(--bg);
    top: 3.4rem;
    left: 0;
    height: calc(100vh - 3.4rem);
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
}

.menu-wrapper .menu-content ul {
    padding: 0;
    width: 100%;
}

.menu-wrapper .menu-content ul li {
    font-family: var(--sans-serif);
    font-size: 1.5rem;
    font-weight: bold;
    list-style: none;
    padding: 1rem;
    text-align: center;
}

.menu-wrapper .menu-content a {
    color: var(--primary);
    letter-spacing: 0.2rem;
    text-decoration: none;
}

.menu-wrapper .menu-content ul li:hover {
    transform: scale(108%);
}

.menu-wrapper .menu-content .copyright {
    color: var(--shadow);
    font-size: 0.6rem;
    font-family: var(--sans-serif);
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}
