.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4.5rem 1rem 1rem 1rem;
}

.content h1 {
    color: var(--accent-dark);
    display: block;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .content {
        box-shadow: 0 0 16px -4px var(--shadow);
        height: 100%;
        margin: auto;
        max-width: 64rem;
        overflow: auto;
        text-align: center;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .content h1 {
        width: 100%;
    }
}
